     .link-box{
        margin-top: 11px;   
     }
    
    .list-button-left{
        border:2px solid green;
        border-radius: 8px;
        font-weight: bold;
        width: 120px;
        height: 40px;
        background-color: white;
        margin-top: 1px;
    }
    
    
    